@model IEnumerable<HealthyANDTastyModel.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingrdiants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diet.DietName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingrdiants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.image)*@
            <img src="@item.ImageURl" alt="Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diet.DietName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mealID }) |
            @Html.ActionLink("Details", "Details", new { id=item.mealID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mealID })
        </td>
    </tr>
}

</table>
